<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Landing page</title>
</head>

<body>
    <header>
        <h1>Product name</h1>
        <nav>
            <ul>
                <li class="product_list"><a href="#">Put on&nbsp;this page information about your product</a></li>
                <li class="product_list"><a href="#">A&nbsp;detailed description of&nbsp;your product</a></li>
                <li class="product_list"><a href="#">Tell&nbsp;us about the advantages and merits</a></li>
                <li class="product_list"><a href="#">Associate the page with the payment system</a></li>
            </ul>
        </nav>
        <a href="#"><img src="img/logo.jpg" alt="logo"></a>
    </header>
    <main>
        <section class="about">
            <h2>About your product</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facilis fuga, illo&nbsp;at. Natus eos, eligendi illum rerum omnis porro&nbsp;ex, magni, explicabo veniam incidunt in&nbsp;quam sapiente ut&nbsp;ipsum.</p>
            <p>Pariatur iure ab&nbsp;sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
            <figure class="float_img"> <img src="img/product.jpg" alt="product_logo"> </figure>
        </section>
        <section class="dignity">
            <h2>Dignity and pluses product</h2>
            <ul>
                <li class="dignity_item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</li>
                <li class="dignity_item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</li>
                <li class="dignity_item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</li>
                <li class="dignity_item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</li>
                <li class="dignity_item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</li>
                <li class="dignity_item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam, dolore minus inventore.</li>
            </ul>
        </section>
        <section class="screenshots">
            <h2>Screenshots</h2>
            <article class="screenshot_item">
                <h3>The description for the image</h3> <img src="img/screenshots.jpg" alt="screenshots">
                <p>Pariatur iure ab&nbsp;sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
            </article>
            <article class="screenshot_item">
                <h3>The description for the image</h3> <img src="img/screenshots.jpg" alt="screenshots">
                <p>Pariatur iure ab&nbsp;sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
            </article>
            <article class="screenshot_item">
                <h3>The description for the image</h3> <img src="img/screenshots.jpg" alt="screenshots">
                <p>Pariatur iure ab&nbsp;sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
            </article>
            <article class="screenshot_item">
                <h3>The description for the image</h3> <img src="img/screenshots.jpg" alt="screenshots">
                <p>Pariatur iure ab&nbsp;sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde perferendis nemo debitis dolor.</p>
            </article>
        </section>
        <section class="review">
            <h2>Reviews</h2>
            <article class="review_item"> <img src="img/reviews.png" alt="reviews">
                <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea&nbsp;neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p> <address>Lourens S.</address> </article>
            <article class="review_item"><img src="img/reviews.png" alt="reviews">
                <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea&nbsp;neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p> <address>Lourens&nbsp;S.</address></article>
            <article class="review_item"><img src="img/reviews.png" alt="reviews">
                <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea&nbsp;neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p> <address>Lourens&nbsp;S.</address></article>
            <article class="review_item"><img src="img/reviews.png" alt="reviews">
                <p>Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio, iste quia doloribus autem aperiam nulla ea&nbsp;neque reprehenderit. Libero doloribus, possimus officiis sapiente necessitatibus commodi consectetur?</p> <address>Lourens&nbsp;S.</address></article>
        </section>
        <section class="buy">
            <h2>Buy it&nbsp;now</h2>
            <article class="buy_option">
                <h3>Standart</h3>
                <div class="price">
                    <p>$100</p>
                </div>
                <ol>
                    <li>Porro officia cumque sint deleniti</li>
                    <li>Тemo facere rem vitae odit</li>
                    <li>Cum odio, iste quia doloribus autem</li>
                    <li>Aperiam nulla ea&nbsp;neque</li>
                </ol>
                <button>buy</button>
            </article>
            <article class="buy_option">
                <h2>Premium</h2>
                <div class="price">
                    <p>$150</p>
                </div>
                <ol>
                    <li>Porro officia cumque sint deleniti</li>
                    <li>Тemo facere rem vitae odit</li>
                    <li>Cum odio, iste quia doloribus autem</li>
                    <li>Aperiam nulla ea&nbsp;neque</li>
                    <li>Porro officia cumque sint deleniti</li>
                    <li>Cum odio, iste quia doloribus autem</li>
                    <li>Aperiam nulla ea&nbsp;neque.;</li>
                    <li>Тemo facere rem vitae odit</li>
                </ol>
                <button>buy</button>
            </article>
            <article class="buy_option">
                <h2>Lux</h2>
                <div class="price">
                    <p>$200</p>
                </div>
                <ol>
                    <li>Porro officia cumque sint deleniti</li>
                    <li>Тemo facere rem vitae odit</li>
                    <li>Cum odio, iste quia doloribus autem</li>
                    <li>Aperiam nulla ea&nbsp;neque</li>
                    <li>Porro officia cumque sint deleniti</li>
                    <li>Тemo facere rem vitae odit</li>
                    <li>Cum odio, iste quia doloribus autem</li>
                    <li>Aperiam nulla ea&nbsp;neque</li>
                    <li>Porro officia cumque sint deleniti</li>
                    <li>Тemo facere rem vitae odit</li>
                    <li>Cum odio, iste quia doloribus autem</li>
                    <li>Aperiam nulla ea&nbsp;neque</li>
                </ol>
                <button>buy</button>
            </article>
        </section>
    </main>
    <footer>
        <h2>Contacts</h2>
        <input type="text" class="name">
        <input type="text" class="email">
        <input type="text" class="massage">
        <button type="submit">SEND</button>
        <div class="contact">
            <div class="skype"> <img src="img/skype.png" alt="skype">
                <p>here_your_login_skype</p>
            </div>
            <div class="icq"> <img src="img/icq.png" alt="icq">
                <p>279679659</p>
            </div>
            <div class="ouremail"> <img src="img/email.png" alt="email">
                <p>psdhtmlcss&#64;mail.ru</p>
            </div>
            <div class="phone"> <img src="img/phone.png" alt="phone">
                <p>80 00 4568 55 55</p>
            </div>
        </div>
        <div class="social">
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
            <a href="#"><img src="" alt=""></a>
        </div>
        <div class="footer">
            <p>Copiright&copy;2014 Product name PSD HTML&nbsp;CSS</p>
        </div>
    </footer>
</body>

</html>